.logo {
    width: 150px;
    height: 150px;
    margin: 10px;
}

.bottom_image {
    width: 250px;
    height: 250px;
    margin: 5px;
}

.bottom_image_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.logo_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#links_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
    flex-grow: 1; /* Add this */
}

#links_area a {
    display: block;
    margin-bottom: 10px;
}

#padding1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
background-color: #f0f0f0;
padding: 20px;
text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure this is here */
}

.main-content {
    flex: 1;
}

.footer {
    background-color: #f0f0f0;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}