.logo {
    width: 150px;
    height: 150px;
    margin: 10px;
}

#bottom_image {
    width: 150px;
    height: 150px;
    margin: 5px;
}

#bottom_image_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#links_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
}

#links_area a {
    display: block;
    margin-bottom: 10px;
    font-size: 50px;     /* adjust this value to your preference */
    font-weight: 900;   /* 'bold' for standard bold, or you could use 700-900 for extra bold */
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;  /* remove the underline */
}

#links_area a:hover {
    text-decoration: underline;  /* add the underline when hovering */
}

#padding1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

#bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer {
    padding: 3px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}




