.logo {
    width: 150px;
    height: 150px;
    margin: 10px;
}

#bottom_image {
    width: 250px;
    height: 250px;
    margin: 5px;
}

#bottom_image_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.logo_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#links_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
}

#links_area a {
    display: block;
    margin-bottom: 10px;
}

#padding1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

#bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer {
    padding: 20px;
    text-align: center;
}




