body {
    display: grid;
    place-items: center;
    height: 50vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    gap: 1em;
}
h1 {
    text-align: center;
    width: 100%;
}
#imageArea {
    width: 900px;
    height: 700px;
    border: 3px solid black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageArea img {
    position: absolute;  /* Allows for dragging without affecting other elements' positions */
    width: 150px;  /* Initial width */
    cursor: pointer;  /* Visual indicator that the image is draggable */

    touch-action: none; /* Prevents default touch behavior */

    cursor: grab;
}