table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    color: #7FFF00;
    border: 1px solid black;
}

th, td {
    border: 32px solid #7FFF00;
    color: black;
    padding: 15px;
    text-align: center;
}

#uploadArea1, #uploadArea2, #uploadArea3, #uploadArea4 {
    padding: 10px;
}

/* Add these styles to change the layout of the buttons and the input field */
#fileSelect1, #fileSelect2, #fileSelect3, #fileSelect4,
#uploadButton1, #uploadButton2, #uploadButton3, #uploadButton4,
#downloadButton1, #downloadButton2, #downloadButton3, #downloadButton4 {
    display: block; /* Make them take up their own line */
    margin-bottom: 10px; /* Add some space below each item */
    text-align: center;
}

h1 {
    text-align: center;
    /*font-family: courier; */
}

h3 {
    text-align: center;
    color: #7FFF00;
}

.library {
    position: relative;
    width: 100%;
    padding-top: 150px; /* provide space for the triangle */
    padding-bottom: 0px; /* provide space for the trunk */
}

.roof {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 1;
}

.roof::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: 48vw solid transparent;
    border-right: 48vw solid transparent;
    border-bottom: 150px solid #7FFF00;
}

.trunk {
    position: relative;
    width: 260px;
    height: 500px;
    background-color: #7FFF00;
    margin: auto;
}

/* .library_wrapper {
    
} */

#fileSelect1, #fileSelect2, #fileSelect3, #fileSelect4 {
    color: black;
}


.book_shelf {
    position: absolute;
    top: 50px; /* Adjust this value to move the image down */
    left: 30px;
    width: 40%; /* Adjust this value to control the width of the image */
    max-width: 100vw;
    height: auto;
    z-index: -1;
}

/* Style changes for screens larger than 903px */
@media screen and (min-width: 903px) {
    table {
        /* padding: 0 20px; /* Add padding to the left and right sides */
        width: 85%;
    }
    #fileSelect1, #fileSelect2, #fileSelect3, #fileSelect4,
    #uploadButton1, #uploadButton2, #uploadButton3, #uploadButton4,
    #downloadButton1, #downloadButton2, #downloadButton3, #downloadButton4 {
        margin-left: 80px;
    }
}

/* Style changes when the viewport is 902px or less */
@media screen and (max-width: 902px) {
    table, thead, tbody, th, td, tr { 
        display: block; 
        width: 96%;
        text-align: center;
        margin: auto;
        box-sizing: border-box;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    /* tr { 
        /* border: 1px solid #ccc; */
    /* } */
    
    td { 
        /* Behave like a "row" */
        border-top: 27px solid #7FFF00;
        border-left: 27px solid #7FFF00;
        border-right: 27px solid #7FFF00;
        border-bottom: 0px;
        text-align: center;
        padding: 15px;
        position: relative;
    }

    /* Add left border for the first cell of each row */
    tr td:first-child { 
        border-left: 27px solid #7FFF00;
    }

    /* Add right border for the last cell of each row */
    tr td:last-child { 
        border-right: 27px solid #7FFF00;
    }

    /* Remove bottom border for the last cell of the first row */
    tr:first-child td:last-child { 
        border-bottom: 0;
    }

    /* Add bottom border for the last cell of the last row */
    tr:last-child td:last-child { 
        border-bottom: 27px solid #7FFF00;
    }

    h3 {
        font-size: 10px;
    }

    .trunk {
    position: relative;
    width: 200px;
    height: 500px;
    background-color: #7FFF00;
    margin: auto;
    }
}