table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    color: #7FFF00;
}

th, td {
    border: 32px solid hsl(90, 100%, 50%);
    color: black;
    padding: 15px 0px 0px 0px; /* only need a bit of vertical padding */
    text-align: center;
    max-width: 50%;
}

#uploadArea1, #uploadArea2, #uploadArea3, #uploadArea4 {
    padding: 10px;
}

/* Add these styles to change the layout of the buttons and the input field */
#fileSelect1, #fileSelect2, #fileSelect3, #fileSelect4,
#uploadButton1, #uploadButton2, #uploadButton3, #uploadButton4,
#downloadButton1, #downloadButton2, #downloadButton3, #downloadButton4 {
    display: block; /* Make them take up their own line */
    margin: 10px auto;
    width: 70%;
    margin-bottom: 10px; /* Add some space below each item */
    text-align: center;
}

.buttonDiv {
    text-align: center;
    /* border: 2px solid blue; */
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    color: #7FFF00;
}

.library {
    position: relative;
    width: 100%;
    padding-top: 150px; /* provide space for the triangle */
    padding-bottom: 0px; /* provide space for the trunk */
}

.roof {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 1;
}

.roof::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: 48vw solid transparent;
    border-right: 48vw solid transparent;
    border-bottom: 150px solid #7FFF00;
}

.trunk {
    position: relative;
    width: 260px;
    height: 500px;
    background-color: #7FFF00;
    margin: auto;
}

/* .library_wrapper {
    
} */

#fileSelect1, #fileSelect2, #fileSelect3, #fileSelect4 {
    color: black;
}


/* Style changes for screens larger than 1006px */
@media screen and (min-width: 1006px) {
    table {
        /* padding: 0 20px; /* Add padding to the left and right sides */
        width: 85%;
    }
    /* #fileSelect1, #fileSelect2, #fileSelect3, #fileSelect4,
    #uploadButton1, #uploadButton2, #uploadButton3, #uploadButton4,
    #downloadButton1, #downloadButton2, #downloadButton3, #downloadButton4 {
        margin-left: 80px;
    } */
}

/* Style changes when the viewport is 1005px or less */
@media screen and (max-width: 1005px) {
    table, thead, tbody, th, td, tr { 
        display: block; 
        width: 97%;
        text-align: center;
        margin: auto;
        box-sizing: border-box;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    /* tr { 
        padding: 60px;
    } */
    
    td { 
        /* Behave like a "row" */
        border-top: 26px solid #7FFF00;
        border-left: 26px solid #7FFF00;
        border-right: 26px solid #7FFF00;
        border-bottom: 0px;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
    }

    /* Add left border for the first cell of each row */
    tr td:first-child { 
        border-left: 26px solid #7FFF00;
    }

    /* Add right border for the last cell of each row */
    tr td:last-child { 
        border-right: 26px solid #7FFF00;
    }

    /* Remove bottom border for the last cell of the first row */
    tr:first-child td:last-child { 
        border-bottom: 0;
    }

    /* Add bottom border for the last cell of the last row */
    tr:last-child td:last-child { 
        border-bottom: 26px solid #7FFF00;
    }

    h3 {
        font-size: 9px;
    }

    .trunk {
    position: relative;
    width: 200px;
    height: 500px;
    background-color: #7FFF00;
    margin: auto;
    }
}

#more {
    display: none;
    padding: 10px 60px;  /* The first value is for top/bottom, the second for left/right. */
    margin-top: 10px;
    /* border-top: 1px solid #eee; */
    font: black;
}

@media screen and (min-width: 1005px) {
    #more {
      padding: 10px 240px;
    }
  }



#toggleButton {
    display: block;
    font-family: 'Helvetica';
    /* font-weight: bold; */
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}